.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .column {
    height: max-content;
    min-height: 100px;
    width: 340px;
    margin: 0px 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebecf0;
  }
  
  .todo {
    background-color: #fff0f0;
  }
  
  .in_progress {
    background-color: #fef2e7;
  }
  .tite{
    text-align: center;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 40px;
    word-break: break-all;

  }
  
  .movable-item {
    border-radius: 3px;
    background-color: #fff;
    min-height: 100px;
    width: 315px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px 0 #091e4240;
  }

  .movable-item2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
  }
  .desc{
    margin-left: 10px;
    margin-top: 10px;
    word-break: break-all;
    font-size: 15px;
    font-weight: 300;
  }
  .movable-item:hover{
    cursor: pointer;
  }
  .movable-item:hover .deleteBtn{
    display: flex;
    cursor: pointer;
  }
  .deleteBtn{
    display: flex;
    justify-content: end;
    display: none;
  }
  .deleteBtn button{
    border: none;
    background-color: transparent;
  }
  .deleteBtn button{
    cursor: pointer;
  }
  .editBtn{
    border: 1px solid rgb(83, 83, 212);
    border-radius: 20px;
    background-color: transparent;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: none;
    padding: 2px 10px;
    margin: 10px;
  }
  .editBtn:hover{
    background-color: rgb(10, 10, 80);
    cursor: pointer;
    color: white;
  }