.addButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.closeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 150px;
}
.addDiv {
  padding: 150px 100px;
  background-color: rgb(241, 241, 250);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
}
.addDiv input {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 5px 5px #888888;
  border-radius: 20px;
  border: 1px solid #888888;
  padding: 5px;
}
.addDiv button {
  padding-left: 75px;
}
